.wrap {
  max-width: 1920px;
  min-width: 375px;
}

.header {
  width: 90%;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  flex: 1.5;
  display: flex;
  justify-content: center;
}

.stumb {
  flex: 2.8;
}
.header .main {
  font-family: 'Roboto', sans-serif;
}

.header__nav {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.header__link {
  font-weight: 500;
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  color: #000000;
}

.header__text {
  font-family: 'PT Serif', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.main__title {
  font-family: 'PT Serif', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 66px;
  line-height: 87px;
  color: #000000;
}

.main__text {
  max-width: 455px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.main__more {
  border-radius: 4px;
}

.main__btn {
  background: #0056EC;
  border-radius: 4px;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
 }
